.manta_title {
  text-align: center;
  background: #2980b9;
  color: #FFFFFF;
}

.manta_second_title {
    text-align: center;
} 

.manta_logo {
  display: flex;
  justify-content: left;
  align-items: left;
  text-align: left;
  position: absolute;
  top: 0;
}

.button{
    display: inline-block;
    padding: 2px;
    background-color: #3F3F3F;
    color: #ffffff;
    border: 1px solid #000000;
    border-radius: 4px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    min-height: 3vh;
    height:20px;
    padding-left:0px;
}
/* Add a black background color to the top navigation */
.manta_topnav, .manta_submenu {
    background-color: #3F3F3F;
    overflow: hidden;
    vertical-align: middle;
    width: 100%;
/*    align-items:center;*/
  }

.hide{
  display:none;
}
  /* Style the links inside the navigation bar */
.manta_menu_item, .manta_settings_menu_item {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Add an active class to highlight the current page */
  .active {
    background-color: #2980b9;
    color: white;
  }
  
  .lang_selector{
    display: block;
    justify-content: right;
    align-items: right;
    text-align: left;
    position: absolute;
    right: 20px;
    z-index: 2;
    font-size: 17px
}

.menu_item_expand{
  display: inline-block;
  z-index: 2;
  font-size: 17px;
  position:static;
}

.combobox{
  display:inline-block;
}

  .combobox_btn{
    display:flex;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    min-width:120px;
    font-size: 17px
  /*  margin: 3px;*/
  }

  .combobox_btn:hover{
    background-color: #2980b9;
  }

  .combobox-content{
    display: none;
    position: absolute;
    background-color: lightgray;
    color:black;
    min-width:120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
 }

 .combobox-content a{
    color:black;
}

.combobox-content > * {
    display: flex;
    margin: 3px;
} 

.combobox-item{
    display:flex;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    margin: 0;    
}

.combobox-item:hover{
    background-color: #2980b9;
    color:white;
}

